##
# Id4Ideas #equipo426
# https://idforideas.com/
##

DirectoryIndex index.php

AddDefaultCharset UTF-8


RewriteEngine On
RewriteRule ^(img|anotherFolder)/ - [L] # do not touch any resources in these folders
RewriteRule . index.php
